/* Grid common */
.gc {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* rects and squares */
.squares,
.rects {
  display: grid;
  gap: 0.5rem;
}
.squares {
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
}
.rects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}
.squares > *,
.rects > * {
  border-radius: 0.25rem;
  cursor: pointer;
}
.squares > * {
  aspect-ratio: 1 / 1;
}
.rects > * {
  @apply py-4 text-lg;
}

/* active-slot -> edit.tsx */
.active-slot {
  @apply outline border-2 border-white outline-[hsl(var(--primary))];
}

.landing-sphere:after {
  content: "";
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  top: -50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
}
