@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports */
@import url("./custom.css");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input,
textarea {
  background-color: transparent;
  border: solid 1px;
  border-color: hsl(var(--border));
  padding: 0.5rem;
  border-radius: 0.5rem;
}
input:focus,
textarea:focus {
  outline-color: hsl(var(--input));
}
button,
.as-button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  transition: 0.3s all;
}
button:hover,
.as-button:hover {
  background-color: hsl(var(--primary) / 0.9);
}

.custom-select {
  position: relative;
}

.custom-select select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.25em 6em 0.25em 8px;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;
  /* @apply; */
}

.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 50%;
  transform: translateY(-50%);
}
